.root {
  display: inline-block;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: initial;
}

.amount {
  color: inherit;
  font-weight: inherit;
}

.currency {
  color: inherit;
  font-weight: inherit;
  padding-left: 0.5rem;
}
