body {
  @include fontMainFamily;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-white;
}

code {
  @include fontCodeFamily;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $baseFontSize;
}

body {
  font-size: 1.6rem;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
